.btn1{
    
}
.btn2{
    background-color: rgb(167, 65, 65);
}
.btn3{
    border: 3px solid rgb(141, 179, 248);
}

.btn4{
    -webkit-appearance : none;
}
.btn5{
    -webkit-appearance : none;
    background-color:  rgb(167, 65, 65);
}
.btn6{
    -webkit-appearance : none;
    border: 3px solid rgb(141, 179, 248);
}
.btn7{
    -webkit-appearance : none;
    background-color:  rgb(167, 65, 65);
    border: 3px solid rgb(141, 179, 248);
}


button{
    padding: 10px;
}